.time{
    width: 10vw;
    padding: 1vh;
    text-align: center;
    border-radius: 1vw;
    position: relative;
    left: 49%;
    transform: translate(-50%);
    background-color: rgb(240, 240, 240);
}

header{
    height: 50px;
    padding: 10px;
    display: flex;
    width: 98vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, -15%);
    font-family: sans-serif;
    background-color: rgb(0, 13, 56);
}

.go-back{
    margin: 1%;
    margin-left: 85%;
    color: white;
    text-decoration: none;
    /* background-color: violet; */
}

.login{
    margin: 1%;
    color: white;
    text-decoration: none;
    /* background-color: violet; */
}


.wrapper{
    margin-top: 5vh;
    border-radius: 1vw;
    padding: 1vh;
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid gray;
    /* background-color: green; */
}

.food-item{
    /* height: 30vh; */
    padding: 5px;
    height: 31vh;
    display: flex;
    width: 86vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    border-radius: 1vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(225, 225, 225);
}

.food-image{
    border-radius: 1vw;
    width: 16vw;
}

#description{
    text-align: left;
    width: 27vw;
    padding-top: 2vh;
}

#name{
    /* background: none; */
    /* padding-top: 5vh; */
    width: 16vw;
    margin: 0px;
    padding: 0px;
    font-size: large;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.596);
}

.info{
    padding: 1vh;
    padding-top: 7vh;
    margin: 0.8vw;
    width: 8vw;
    vertical-align: middle;
    border-radius: 1vw;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(219, 219, 219);
}

.header{
    /* height: 30vh; */
    padding: 5px;
    display: flex;
    width: 86vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    border-radius: 1vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(225, 225, 225);
}

.column{
    font-weight: bolder;
    padding: 1vh;
    margin: 0.8vw;
    width: 8vw;
    padding-top: 3vh;
    border-radius: 1vw;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(219, 219, 219);
}

.header-wrapper{
    transform: translate(22vw);
}

.upper, .header-wrapper{
    display: flex;
}

.upper{
    height: 65%;
    /* background-color: green; */
}

.inner-wrapper{
    text-align: center;
    /* background-color: greenyellow; */
}

.remove{
    margin-top: 2vh;
    width: 60%;
    height: 5vh;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(255, 155, 0);
}

.remove:hover{
    background-color: rgb(245, 125, 10);
}

.remove:active{
    border: 4px solid rgb(225, 145, 28);
    background-color: rgb(235, 155, 38);
}

.total-price{
    font-size: 3.5vh;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 1vw;
    width: 20.5vw;
    border-radius: 1vw;
    padding: .5vh;
    /* background-color: red; */
}

.no-item{
    /* height: 30vh; */
    padding: 5px;
    display: flex;
    width: 86vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
    border-radius: 1vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(225, 225, 225);
}

.no-item-column{
    font-weight: bolder;
    padding: 1vh;
    margin: 0.8vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding-top: 2vh;
    border-radius: 1vw;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(219, 219, 219);
    width: 30vw;
}

.score{
    width: 20vw;
    height: 4vh;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 3vh;
    margin-left: 5vw;
    background-color: rgb(2, 211, 26);
}

.score:hover{
    background-color: rgb(22, 231, 46);
}

.score:active{
    border: 4px solid rgb(2, 201, 26);
    background-color: rgb(2, 211, 26);
}

.lower{
    margin-top: 3.5vh;
    display: flex;
    border-radius: 1vw;
    /* background-color: rgb(219, 219, 219); */
}

#score{
    border-radius: 1vh;
    width: 4vw;
    height: 3vh;
    padding: .2vh;
}

.star-icon{
    height: 2.5vh;
    filter: saturate(3);;
}

.score-label{
    font-family: sans-serif;
    margin-left: 3vw;
}

.message{
    background: rgba(0, 255, 21, 0.747);
    border: 1px solid rgb(18, 156, 0);
    width: 25%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 2%);
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    padding: 20px;
    padding-left: 1px;
    padding-right: 1px;
    color: rgb(10, 85, 0);
    border-radius: 5px;
}